<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find rover_description)/urdf/macros/base/sensors.xacro"/>

    <xacro:property name="mesh_path"  value="package://rover_description/meshes/ouster_os1.dae"/>
    <xacro:property name="mesh_scale" value="1 1 1"/>

    <xacro:property name="lidar_mesh_xyz" value="0 0 0"/> 
    <xacro:property name="lidar_mesh_rpy" value="0 0 1.5708"/>
    
    <xacro:macro name="ouster_os1_lidar" params="name parent_link *origin">
        
        <joint name="${name}_joint" type="fixed">
            <xacro:insert_block name="origin" /> 
            <parent link="${parent_link}" />
            <child  link="${name}_link" />
        </joint>

        <link name="${name}_link">
            <visual>
                <origin xyz="${lidar_mesh_xyz}" rpy="${lidar_mesh_rpy}" />
                <geometry>
                <mesh filename="${mesh_path}" scale="${mesh_scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="${lidar_mesh_xyz}" rpy="${lidar_mesh_rpy}" />
                <geometry>
                <mesh filename="${mesh_path}" scale="${mesh_scale}"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.361" /> 
                <origin xyz="0 0 0" />
                <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
            </inertial>
        </link>

        <gazebo reference="${name}_link">
        <visual>
            <material>
            <diffuse>0.75 0.75 0.75 1.0</diffuse>
            <specular>0.95 0.95 0.95 1.0</specular>

            <pbr>
                <metal>
                <albedo>0.80 0.80 0.80 1.0</albedo>
                <roughness>0.35</roughness>
                <metalness>1.0</metalness>
                </metal>
            </pbr>
            </material>
        </visual>
        </gazebo>

        <joint name="${name}_lidar_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${name}_link" />
            <child  link="${name}_lidar_frame" />
        </joint>

        <link name="${name}_lidar_frame"/>

        <joint name="${name}_imu_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${name}_link" />
            <child link="${name}_imu_frame" />
        </joint>

        <link name="${name}_imu_frame"/>

        <xacro:lidar_sensor
            name="${name}_lidar" 
            parent="${name}_lidar_frame" 

            lidar_topic="${name}"
            fps="10"

            horizontal_samples="256" 

            horizontal_resolution="1.0" 
            horizontal_min_angle="-0.785398" horizontal_max_angle="0.785398" 

            vertical_samples="64"

            vertical_resolution="1.0" 
            vertical_min_angle="-0.2897247" vertical_max_angle="0.2897247"

            range_resolution="0.5" 
            range_min="0.8" range_max="10.0" 

            noise_type="gaussian" noise_mean="0.000" noise_stddev="0.003"

            frame_id="${name}_lidar_frame"
            />

        <xacro:imu_sensor 
            name="${name}_imu" 
            parent="${name}_link" 

            imu_topic="${name}/imu" 

            fps="50.0" 

            frame_id="${name}_imu_frame" 
            />

    </xacro:macro>

</robot>