build/
install/
log/

.vscode/

.colcon/
.ros/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/

frames*

qwen-vllm

src/gazebo_worlds/models/mars_yard