<?xml version="1.0"?>
<robot name="multi_sensor_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="base_link"/>

  <link name="mount_link"/>
  <joint name="mount_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="mount_link"/>
    <origin xyz="-0.27 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <link name="sensor_mount_00_link"/>
  <joint name="sensor_mount_00_joint" type="fixed">
    <parent link="mount_link"/>
    <child link="sensor_mount_00_link"/>
    <origin xyz="-0.12 0.0 0.22" rpy="0 -0.3490659 0"/>
  </joint>

  <link name="sensor_mount_01_link"/>
  <joint name="sensor_mount_01_joint" type="fixed">
    <parent link="mount_link"/>
    <child link="sensor_mount_01_link"/>
    <origin xyz="-0.12 0.0 0.12" rpy="0 0 3.14159265359"/>
  </joint>

  <!-- <link name="sensor_mount_02_link"/>
  <joint name="sensor_mount_02_joint" type="fixed">
    <parent link="mount_link"/>
    <child link="sensor_mount_02_link"/>
    <origin xyz="-0.05 0.0 0.3" rpy="0 0 0"/>
  </joint> -->

  <!-- <link name="sensor_mount_03_link"/>
  <joint name="sensor_mount_03_joint" type="fixed">
    <parent link="mount_link"/>
    <child link="sensor_mount_03_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint> -->

</robot>
