<?xml version="1.0"?>
<robot name="rex" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include all modules -->
  <xacro:include filename="$(find rover_description)/urdf/xacro/base.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/xacro/wheel_assembly.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/xacro/gazebo_plugins.xacro"/>

  <!-- Base body -->
  <xacro:base_link/>

  <!-- Left side: swivel -> arm_pivot -> arm_front + arm_rear -->
  <xacro:swivel_and_arm side="left"  base_y=" 0.2735" arm_y=" 0.0535"/>

  <!-- Right side: swivel -> arm_pivot -> arm_front + arm_rear -->
  <xacro:swivel_and_arm side="right" base_y="-0.2735" arm_y="-0.0535"/>

  <!-- Gazebo plugins -->
  <xacro:gazebo_plugins/>

  <xacro:include filename="$(find rover_description)/urdf/xacro/autonomy_submodule.xacro"/>
  <xacro:autonomy_submodule name="autonomy_submodule" parent_link="base_link"/>

  <!-- <xacro:include filename="$(find rover_description)/urdf/macros/assembly/camera/oak_d_pro_w_camera_assembly.xacro"/>
  <xacro:oak_d_pro_w_camera name="camera_00" parent_link="base_link">
    <origin xyz="0.40 0.0 0.05" rpy="0 0 0" />
  </xacro:oak_d_pro_w_camera>

  <xacro:include filename="$(find rover_description)/urdf/macros/assembly/lidar/ouster_os1_lidar_assembly.xacro"/>
  <xacro:ouster_os1_lidar name="lidar_00" parent_link="base_link">
    <origin xyz="0.40 0.0 0.15" rpy="0 0 0" />
  </xacro:ouster_os1_lidar> -->

  <xacro:include filename="$(find rover_description)/urdf/macros/assembly/camera/hivision_camera_assembly.xacro"/>
  <xacro:hivision_camera name="camera_xx" parent_link="base_link">
    <origin xyz="0.40 0.0 0.10" rpy="0 0 0" />
  </xacro:hivision_camera>

</robot>