<?xml version="1.0"?>
<robot name="rex" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include all modules -->
  <xacro:include filename="$(find rover_description)/urdf/xacro/base.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/xacro/wheel_assembly.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/xacro/gazebo_plugins.xacro"/>

  <!-- Base body -->
  <xacro:base_link/>

  <!-- Left side: swivel -> arm_pivot -> arm_front + arm_rear -->
  <xacro:swivel_and_arm side="left"  base_y=" 0.2735" arm_y=" 0.0535"/>

  <!-- Right side: swivel -> arm_pivot -> arm_front + arm_rear -->
  <xacro:swivel_and_arm side="right" base_y="-0.2735" arm_y="-0.0535"/>

  <!-- Gazebo plugins -->
  <xacro:gazebo_plugins/>

  <!-- <xacro:include filename="$(find rover_description)/urdf/xacro/macros/camera_assembly.xacro"/>
  <xacro:camera_assembly parent_link="base_link" camera_center_xyz="0.40 0.0 0.10"/> -->

  <xacro:include filename="$(find rover_description)/urdf/xacro/macros/oak_d_camera_assembly.xacro"/>
  <xacro:oak_d_camera name="camera" parent_link="base_link">
    <origin xyz="0.40 0.0 0.10" rpy="0 0 0" />
  </xacro:oak_d_camera>

  <!-- <xacro:include filename="$(find rover_description)/urdf/xacro/oakd.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/xacro/oakd_pro.xacro"/> -->

  <!-- <xacro:oakd_module parent_link="base_link"/> -->

  <!-- <xacro:oakd_pro_module parent_link="base_link"/> -->

</robot>