<robot name="rex">
  <!-- <link name="base_footprint"></link>
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint> -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.7 0.44 0.176" />
      </geometry>
      <material name="base_link-material">
        <color rgba="1 0.36625259558833256 0.06480326668529614 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.7 0.44 0.176" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="15" />
      <inertia ixx="0.28072" ixy="0" ixz="0" iyy="0.65122" iyz="0" izz="0.8545" />
    </inertial>
  </link>
  <joint name="base_link_to_swivel_left" type="revolute">
    <parent link="base_link" />
    <child link="swivel_left" />
    <origin xyz="0 0.2735 0" rpy="0 0 0" />
    <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="-1" upper="1" velocity="5.0"/>
    <dynamics friction="1.0" damping="0.1"/> 
  </joint>
  <link name="swivel_left">
    <visual>
      <origin xyz="0 0 0" rpy="1.5707963267948963 0 0" />
      <geometry>
        <cylinder radius="0.01" length="0.107" />
      </geometry>
      <material name="swivel_left-material">
        <color rgba="0.3231432091022285 0.31854677811435356 0.3049873140591091 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963267948963 0 0" />
      <geometry>
        <cylinder radius="0.01" length="0.107" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
    </inertial>
  </link>
  <joint name="swivel_left_to_arm_left" type="fixed">
    <parent link="swivel_left" />
    <child link="arm_left" />
    <origin xyz="0 0.0535 0" rpy="0 0 0" />
    <!-- <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="-1" upper="1" velocity="5.0"/> -->
    </joint> 
  <link name="arm_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1.042 0.04 0.04" />
      </geometry>
      <material name="arm_left-material">
        <color rgba="0.3231432091022285 0.31854677811435356 0.3049873140591091 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1.042 0.04 0.04" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.000267" ixy="0" ixz="0" iyy="0.0906137" iyz="0" izz="0.0906137" />
    </inertial>
  </link>
  <joint name="arm_left_to_motor_front_left" type="fixed">
    <parent link="arm_left" />
    <child link="motor_front_left" />
    <origin xyz="0.45 0 -0.05" rpy="0 0 0" />
  </joint>
  <link name="motor_front_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.14 0.1 0.06" />
      </geometry>
      <material name="motor_front_left-material">
        <color rgba="0.9215818562755338 0.11953842797895521 0.08228270712149792 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.14 0.1 0.06" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="3" />
      <inertia ixx="0.0074" ixy="0" ixz="0" iyy="0.0058" iyz="0" izz="0.0034" />
    </inertial>
  </link>
  <joint name="motor_front_left_to_steer_front_left" type="revolute">
    <parent link="motor_front_left" />
    <child link="steer_front_left" />
    <origin xyz="0 0 -0.055" rpy="0 0 0" />
    <axis xyz="0 0 1"/>
    <limit effort="10.0" lower="-3.14159265" upper="3.14159265" velocity="5.0"/> 
  </joint>
  <link name="steer_front_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.05" />
      </geometry>
      <material name="steer_front_left-material">
        <color rgba="0.3231432091022285 0.31854677811435356 0.3049873140591091 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.05" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
    </inertial>
  </link>
  <joint name="steer_front_left_to_wheel_front_left" type="continuous">
    <parent link="steer_front_left" />
    <child link="wheel_front_left" />
    <origin xyz="0 0 -0.155" rpy="-1.5707963267948963 0 0" />
    <axis xyz="0 0 1"/>
    <!-- <dynamics friction="0" damping="0"/>      -->
  </joint>
  <link name="wheel_front_left">
    <visual>
    <!-- <origin xyz="0 0 0" rpy="1.5707963267948963 0 1.5707963267948963" /> -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="package://rex_description/mesh/wheelv3.stl" scale="0.0009 0.0009 0.0009 " /> -->
        <cylinder radius="0.125" length="0.13" />
      </geometry>
      <material name="wheel_front_left-material">
        <color rgba="0.7912979403281551 0.11953842797895521 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="package://rex_description/mesh/wheelv3.stl" scale="0.0009 0.0009 0.0009 " /> -->
        <cylinder radius="0.125" length="0.13" />
      </geometry>
    </collision>
    <inertial>
      <!-- <origin xyz="0 0 0" rpy="1.5707963267948963 0 1.5707963267948963" /> -->
      <mass value="3" />
      <inertia ixx="0.015025" ixy="0" ixz="0" iyy="0.015025" iyz="0" izz="0.0216" />
    </inertial>
  </link>
  <joint name="arm_left_to_motor_rear_left" type="fixed">
    <parent link="arm_left" />
    <child link="motor_rear_left" />
    <origin xyz="-0.45 0 -0.05" rpy="0 0 0" />
  </joint>
  <link name="motor_rear_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.14 0.1 0.06" />
      </geometry>
      <material name="motor_rear_left-material">
        <color rgba="0.9215818562755338 0.11953842797895521 0.08228270712149792 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.14 0.1 0.06" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="3" />
      <inertia ixx="0.0074" ixy="0" ixz="0" iyy="0.0058" iyz="0" izz="0.0034" />
    </inertial>
  </link>
  <joint name="motor_rear_left_to_steer_rear_left" type="revolute">
    <parent link="motor_rear_left" />
    <child link="steer_rear_left" />
    <origin xyz="0 0 -0.055" rpy="0 0 0" />
    <axis xyz="0 0 1"/>
    <limit effort="10.0" lower="-3.14159265" upper="3.14159265" velocity="5.0"/>   </joint>
  <link name="steer_rear_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.05" />
      </geometry>
      <material name="steer_rear_left-material">
        <color rgba="0.3231432091022285 0.31854677811435356 0.3049873140591091 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.05" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
    </inertial>
  </link>
  <joint name="steer_rear_left_to_wheel_rear_left" type="continuous">
    <parent link="steer_rear_left" />
    <child link="wheel_rear_left" />
    <origin xyz="0 0 -0.155" rpy="-1.5707963267948963 0 0" />
    <axis xyz="0 0 1"/>
    <!-- <dynamics friction="0" damping="0"/>      -->
  </joint>
  <link name="wheel_rear_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="package://rex_description/mesh/wheelv3.stl" scale="0.0009 0.0009 0.0009 " /> -->
        <cylinder radius="0.125" length="0.13" />
      </geometry>
      <material name="wheel_rear_left-material">
        <color rgba="0.7912979403281551 0.11953842797895521 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
      <!-- <mesh filename="package://rex_description/mesh/wheelv3.stl" scale="0.0009 0.0009 0.0009 " /> -->
      <cylinder radius="0.125" length="0.13" />
      </geometry>
    </collision>
    <inertial>
      <!-- <origin xyz="0 0 0" rpy="1.5707963267948963 0 1.5707963267948963" /> -->
      <mass value="3" />
      <inertia ixx="0.015025" ixy="0" ixz="0" iyy="0.015025" iyz="0" izz="0.0216" />
    </inertial>
  </link>
  <joint name="base_link_to_swivel_right" type="revolute">
    <parent link="base_link" />
    <child link="swivel_right" />
    <origin xyz="0 -0.2735 0" rpy="0 0 0" />
    <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="-1" upper="1" velocity="5.0"/>
    <dynamics friction="1.0" damping="0.1"/> 
    <!-- <mimic joint="base_link_to_swivel_left" multiplier="-1" offset="0"/> -->
  </joint>
  <link name="swivel_right">
    <visual>
      <origin xyz="0 0 0" rpy="1.5707963267948963 0 0" />
      <geometry>
        <cylinder radius="0.01" length="0.107" />
      </geometry>
      <material name="swivel_right-material">
        <color rgba="0.3231432091022285 0.31854677811435356 0.3049873140591091 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963267948963 0 0" />
      <geometry>
        <cylinder radius="0.01" length="0.107" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
    </inertial>
  </link>
  <joint name="swivel_right_to_arm_right" type="fixed">
    <parent link="swivel_right" />
    <child link="arm_right" />
    <origin xyz="0 -0.0535 0" rpy="0 0 0" />
    <!-- <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="-1" upper="1" velocity="5.0"/> --> 
  </joint> 
  <link name="arm_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1.042 0.04 0.04" />
      </geometry>
      <material name="arm_right-material">
        <color rgba="0.3231432091022285 0.31854677811435356 0.3049873140591091 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1.042 0.04 0.04" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.000267" ixy="0" ixz="0" iyy="0.0906137" iyz="0" izz="0.0906137" />
    </inertial>
  </link>
  <joint name="arm_right_to_motor_front_right" type="fixed">
    <parent link="arm_right" />
    <child link="motor_front_right" />
    <origin xyz="0.45 0 -0.05" rpy="0 0 0" />
  </joint>
  <link name="motor_front_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.14 0.1 0.06" />
      </geometry>
      <material name="motor_front_right-material">
        <color rgba="0.2746773120495699 0.8713671191959567 0.3712376804636741 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.14 0.1 0.06" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="3" />
      <inertia ixx="0.0074" ixy="0" ixz="0" iyy="0.0058" iyz="0" izz="0.0034" />
    </inertial>
  </link>
  <joint name="motor_front_right_to_steer_front_right" type="revolute">
    <parent link="motor_front_right" />
    <child link="steer_front_right" />
    <origin xyz="0 0 -0.055" rpy="0 0 0" />
    <axis xyz="0 0 1"/>
    <limit effort="10.0" lower="-3.14159265" upper="3.14159265" velocity="5.0"/>   </joint>
  <link name="steer_front_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.05" />
      </geometry>
      <material name="steer_front_right-material">
        <color rgba="0.3231432091022285 0.31854677811435356 0.3049873140591091 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.05" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
    </inertial>
  </link>
  <joint name="steer_front_right_to_wheel_front_right" type="continuous">
    <parent link="steer_front_right" />
    <child link="wheel_front_right" />
    <origin xyz="0 0 -0.155" rpy="-1.5707963267948963 0 0" />
    <axis xyz="0 0 1"/>
    <!-- <dynamics friction="0" damping="0"/>      -->
  </joint>
  <link name="wheel_front_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="package://rex_description/mesh/wheelv3.stl" scale="0.0009 0.0009 0.0009 " /> -->
        <cylinder radius="0.125" length="0.13" />
      </geometry>
      <material name="wheel_front_right-material">
        <color rgba="0.7912979403281551 0.11953842797895521 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="package://rex_description/mesh/wheelv3.stl" scale="0.0009 0.0009 0.0009 " /> -->
        <cylinder radius="0.125" length="0.13" />
      </geometry>
    </collision>
    <inertial>
      <!-- <origin xyz="0 0 0" rpy="1.5707963267948963 0 1.5707963267948963" /> -->
      <mass value="3" />
      <inertia ixx="0.015025" ixy="0" ixz="0" iyy="0.015025" iyz="0" izz="0.0216" />
    </inertial>
  </link>
  <joint name="arm_right_to_motor_rear_right" type="fixed">
    <parent link="arm_right" />
    <child link="motor_rear_right" />
    <origin xyz="-0.45 0 -0.05" rpy="0 0 0" />
  </joint>
  <link name="motor_rear_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.14 0.1 0.06" />
      </geometry>
      <material name="motor_rear_right-material">
        <color rgba="0.2746773120495699 0.8713671191959567 0.3712376804636741 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.14 0.1 0.06" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="3" />
      <inertia ixx="0.0074" ixy="0" ixz="0" iyy="0.0058" iyz="0" izz="0.0034" />
    </inertial>
  </link>
  <joint name="motor_rear_right_to_steer_rear_right" type="revolute">
    <parent link="motor_rear_right" />
    <child link="steer_rear_right" />
    <origin xyz="0 0 -0.055" rpy="0 0 0" />
    <axis xyz="0 0 1"/>
    <limit effort="10.0" lower="-3.14159265" upper="3.14159265" velocity="5.0"/>   </joint>
  <link name="steer_rear_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.05" />
      </geometry>
      <material name="steer_rear_right-material">
        <color rgba="0.3231432091022285 0.31854677811435356 0.3049873140591091 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.05" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
    </inertial>
  </link>
  <joint name="steer_rear_right_to_wheel_rear_right" type="continuous">
    <parent link="steer_rear_right" />
    <child link="wheel_rear_right" />
    <origin xyz="0 0 -0.155" rpy="-1.5707963267948963 0 0" />
    <axis xyz="0 0 1"/>
    <!-- <dynamics friction="0" damping="0"/> -->
  </joint>
  <link name="wheel_rear_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="package://rex_description/mesh/wheelv3.stl" scale="0.0009 0.0009 0.0009 " /> -->
        <cylinder radius="0.125" length="0.13" />
      </geometry>
      <material name="wheel_rear_right-material">
        <color rgba="0.7912979403281551 0.11953842797895521 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <!-- <origin xyz="0 0 0" rpy="0 -1.5707963267948963 0" /> -->
      <geometry>
        <!-- <mesh filename="package://rex_description/mesh/wheelv3.stl" scale="0.0009 0.0009 0.0009 " /> -->
        <cylinder radius="0.125" length="0.13" />
      </geometry>
    </collision>
    <inertial>
      <!-- <origin xyz="0 0 0" rpy="1.5707963267948963 0 1.5707963267948963" /> -->
      <mass value="3" />
      <inertia ixx="0.015025" ixy="0" ixz="0" iyy="0.015025" iyz="0" izz="0.0216" />
    </inertial>
  </link>


<!-- ************************** ZED2i ************************** -->

  <!-- Camera Center -->
  <link name="zed2_camera_center">
    <inertial>
      <mass value="0.16140"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.0003947" ixy="0.0" ixz="3.3365e-8"
        iyy="2.417e-5" iyz="0.0"
        izz="0.0003973"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://rover_description/meshes/zed.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rover_description/meshes/zed.dae"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="zed2_left_camera_optical_frame">
  <sensor name="zed2i_left" type="depth_camera">
    <always_on>true</always_on>
    <update_rate>20.0</update_rate>
    <visualize>false</visualize>

    <!-- Topic for depth output -->
    <topic>/model/left_camera/depth_image</topic>

    <pose relative_to='zed2_left_camera_frame'>0 0 0 0 0 0</pose>

    <camera name="zed2i_left_camera">
      <camera_info_topic>/model/left_camera/camera_info</camera_info_topic>
      <horizontal_fov>1.7633</horizontal_fov>

      <image>
        <width>640</width>
        <height>360</height>
        <format>R8G8B8</format>
      </image>

      <clip>
        <near>0.5</near>
        <far>4</far>
      </clip>

      <depth_camera>
        <output>depths</output>
        <clip>
          <near>0.45</near>
          <far>4</far>
        </clip>
      </depth_camera>

    </camera>

    <frame_id>zed2_left_camera_optical_frame</frame_id>
  </sensor>
</gazebo>

  <gazebo reference="zed2_right_camera_optical_frame">
    <sensor name="zed2i_right" type="camera">
      <always_on>true</always_on>
      <update_rate>15.0</update_rate>
      <visualize>false</visualize>
      <topic>/model/right_camera/image</topic>
      <pose relative_to='zed2_right_camera_frame'>0 0 0 0 0 0</pose>
      <camera name="zed2i_right_camera">
        <camera_info_topic>/model/right_camera/camera_info</camera_info_topic>
        <horizontal_fov>1.7633</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.2</near>
            <far>5</far>
          </clip>

          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>

          <distortion>
            <k1>-0.043693598</k1>
            <k2>0.0146164996</k2>
            <p1>-0.006573319</p1>
            <p2>-0.000216900</p2>
            <k3>0.000084328</k3>
            <center>0.5 0.5</center>
          </distortion>

          <lens>
            <type>stereographic</type>
            <scale_to_hfov>true</scale_to_hfov>
            <intrinsics>
              <cx>658.8206787109375</cx>
              <cy>372.25787353515625</cy>
            </intrinsics>
            <projection>
              <p_cx>658.8206787109375</p_cx>
            </projection>
          </lens>

      </camera>
      
      <frame_id>zed2_right_camera_optical_frame</frame_id>
      <gz_frame_id>zed2_right_camera_optical_frame</gz_frame_id>
    </sensor>
  </gazebo>


  <joint name="zed2_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="zed2_camera_center"/>
    <origin xyz="0.37 0 0.07" rpy="0 0 0" />
  </joint>

  <joint name="zed2_left_camera_joint" type="fixed">
    <parent link="zed2_camera_center"/>
    <child link="zed2_left_camera_frame"/>
    <origin xyz="0 0.06 0" rpy="0 0 0" />
  </joint>

  <link name="zed2_left_camera_frame" />

  <joint name="zed2_left_camera_optical_joint" type="fixed">
    <origin xyz="0.025 0 0" rpy="-1.5708 0 -1.5708"/>
    <parent link="zed2_left_camera_frame"/>
    <child link="zed2_left_camera_optical_frame"/>
  </joint>

  <link name="zed2_left_camera_optical_frame"/>

  <joint name="zed2_right_camera_joint" type="fixed">
    <parent link="zed2_camera_center"/>
    <child link="zed2_right_camera_frame"/>
    <origin xyz="0 -0.06 0" rpy="0 0 0" />
  </joint>

  <link name="zed2_right_camera_frame" />

  <joint name="zed2_right_camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5708 0.0 -1.5708"/>
    <parent link="zed2_right_camera_frame"/>
    <child link="zed2_right_camera_optical_frame"/>
  </joint>

  <link name="zed2_right_camera_optical_frame"/>

  <joint name="zed2_mag_joint" type="fixed">
    <parent link="zed2_camera_center"/>
    <child link="zed2_mag_link"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="zed2_mag_link" />

  <gazebo reference="zed2_camera_center">
    <sensor type="imu" name="zed2_imu">
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <visualize>false</visualize>
      <topic>imu</topic>
      <plugin filename="gz-sim-imu-system"
              name="gz::sim::systems::Imu">
      </plugin>
    </sensor>
  </gazebo>


<!-- ************************** OUSTER ************************** -->

    <link name="ouster_os1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.5708" />
      <geometry>
        <mesh filename="package://rover_description/meshes/ouster.dae"/>
      </geometry>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 1.5708" />
      <geometry>
        <mesh filename="package://rover_description/meshes/ouster.dae"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4" />
      <inertia ixx="0.000583" ixy="0" ixz="0" iyy="0.000583" iyz="0" izz="0.0005" />
    </inertial>
  </link>

  <joint name="lidar_to_base_link" type="fixed">
    <parent link="base_link" />
    <child link="ouster_os1" />
    <origin xyz="0.38 0 0" rpy="0 0 0" />
  </joint>


<gazebo reference="ouster_os1">

  <sensor name="ouster_os1" type="gpu_lidar">
    <pose relative_to='ouster_os1'>0 0 0 0 0 0</pose>
    <topic>lidar</topic>
    <update_rate>20</update_rate>
    <always_on>1</always_on>
    <visualize>false</visualize>
    <frame_id>ouster_os1</frame_id>
    <gz_frame_id>ouster_os1</gz_frame_id>
    <lidar>
        <scan>
            <horizontal>
                <samples>512</samples>
                <resolution>1</resolution>
                <min_angle>-0.7853981634</min_angle>
                <max_angle>0.7853981634</max_angle>
            </horizontal>
            <vertical>
                <samples>16</samples>
                <resolution>1</resolution>
                <min_angle>-0.2617993878</min_angle>
                <max_angle>0.2617993878</max_angle>
            </vertical>
        </scan>
        <range>
            <min>0.2</min>
            <max>12.0</max>
            <resolution>0.03</resolution>
        </range>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.008</stddev>
          </noise>
    </lidar>

  </sensor>
</gazebo>


<!-- ************************** ************************** -->

  <gazebo>
    <plugin
      filename="gz-sim-joint-state-publisher-system"
      name="gz::sim::systems::JointStatePublisher">
      <topic>/world/demo/model/rex/joint_state</topic>
    </plugin>

    <plugin
      filename="gz-sim-pose-publisher-system"
      name="gz::sim::systems::PosePublisher">
      <publish_link_pose>true</publish_link_pose>
      <use_pose_vector_msg>true</use_pose_vector_msg>
      <static_publisher>true</static_publisher>
      <static_update_frequency>5</static_update_frequency>
    </plugin>

    <plugin
      filename="gz-sim-odometry-publisher-system"
      name="gz::sim::systems::OdometryPublisher">
      <odom_frame>/odom</odom_frame>
      <robot_base_frame>/base_link</robot_base_frame>
      <odom_publish_frequency>15</odom_publish_frequency>
      <tf_topic>/tf</tf_topic>
    </plugin>

    <plugin
      filename="libdifferential_plugin.so"
      name="gazebo_sim_ros2_example::DifferentialPlugin">
      <jointA>base_link_to_swivel_right</jointA>
      <jointB>base_link_to_swivel_left</jointB>
      <forceConstant>100.0</forceConstant>
    </plugin>

    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>motor_rear_right_to_steer_rear_right</joint_name>
      <use_velocity_commands> true </use_velocity_commands>
      <joint_index>0</joint_index>
      <!-- <p_gain>10000.0</p_gain>
      <i_gain>100</i_gain>
      <d_gain>10</d_gain>
      <i_max>0.0</i_max>
      <i_min>-0.0</i_min> -->
      <cmd_max>0.65</cmd_max>
      <cmd_min>-0.65</cmd_min>
    </plugin>

    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>motor_front_right_to_steer_front_right</joint_name>
      <use_velocity_commands> true </use_velocity_commands>
      <joint_index>0</joint_index>
      <!-- <p_gain>10000.0</p_gain>
      <i_gain>100</i_gain>
      <d_gain>10</d_gain>
      <i_max>0.0</i_max>
      <i_min>-0.0</i_min> -->
      <cmd_max>0.65</cmd_max>
      <cmd_min>-0.65</cmd_min>
    </plugin>

    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>motor_rear_left_to_steer_rear_left</joint_name>
      <use_velocity_commands> true </use_velocity_commands>
      <joint_index>0</joint_index>
      <!-- <p_gain>10000.0</p_gain>
      <i_gain>100</i_gain>
      <d_gain>10</d_gain>
      <i_max>0.0</i_max>
      <i_min>-0.0</i_min> -->
      <cmd_max>0.65</cmd_max>
      <cmd_min>-0.65</cmd_min>
    </plugin>

    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>motor_front_left_to_steer_front_left</joint_name>
      <use_velocity_commands> true </use_velocity_commands>
      <joint_index>0</joint_index>
      <!-- <p_gain>10000.0</p_gain>
      <i_gain>100</i_gain>
      <d_gain>10</d_gain>
      <i_max>0.0</i_max>
      <i_min>-0.0</i_min> -->
      <cmd_max>0.65</cmd_max>
      <cmd_min>-0.65</cmd_min>
    </plugin>

        <!-- <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>motor_front_left_to_steer_front_left</joint_name>
      <joint_index>0</joint_index>
      <p_gain>1000.0</p_gain>
      <i_gain>100</i_gain>
      <d_gain>10</d_gain>
      <i_max>0.0</i_max>
      <i_min>-0.0</i_min>
      <cmd_max>1000.0</cmd_max>
      <cmd_min>-1000.0</cmd_min>
    </plugin>

    <plugin
      filename="gz-sim-joint-controller-system"
      name="gz::sim::systems::JointController">
      <joint_name>steer_front_left_to_wheel_front_left</joint_name>
      <initial_velocity>0.0</initial_velocity>
      <use_force_commands>true</use_force_commands>
      <p_gain>0.5</p_gain>
      <i_gain>0.5</i_gain>
      <d_gain>0.0001</d_gain>
      <d_gain>0.1</d_gain>
    </plugin> -->

    <plugin
      filename="gz-sim-joint-controller-system"
      name="gz::sim::systems::JointController">
      <joint_name>steer_front_left_to_wheel_front_left</joint_name>
      <initial_velocity>0.0</initial_velocity>
      <use_force_commands>true</use_force_commands>
      <p_gain>0.5</p_gain>
      <i_gain>0.5</i_gain>
      <d_gain>0.0001</d_gain>
      <cmd_max>50.0</cmd_max>
      <cmd_min>-50.0</cmd_min>
    </plugin>

    <plugin
      filename="gz-sim-joint-controller-system"
      name="gz::sim::systems::JointController">
      <joint_name>steer_rear_right_to_wheel_rear_right</joint_name>
      <initial_velocity>0.0</initial_velocity>
      <use_force_commands>true</use_force_commands>
      <p_gain>0.5</p_gain>
      <i_gain>0.5</i_gain>
      <d_gain>0.0001</d_gain>
      <cmd_max>50.0</cmd_max>
      <cmd_min>-50.0</cmd_min>
    </plugin>

    <plugin
      filename="gz-sim-joint-controller-system"
      name="gz::sim::systems::JointController">
      <joint_name>steer_front_right_to_wheel_front_right</joint_name>
      <initial_velocity>0.0</initial_velocity>
      <use_force_commands>true</use_force_commands>
      <p_gain>0.5</p_gain>
      <i_gain>0.5</i_gain>
      <d_gain>0.0001</d_gain>
      <cmd_max>50.0</cmd_max>
      <cmd_min>-50.0</cmd_min>
    </plugin>

    <plugin
      filename="gz-sim-joint-controller-system"
      name="gz::sim::systems::JointController">
      <joint_name>steer_rear_left_to_wheel_rear_left</joint_name>
      <initial_velocity>0.0</initial_velocity>
      <use_force_commands>true</use_force_commands>
      <p_gain>0.5</p_gain>
      <i_gain>0.5</i_gain>
      <d_gain>0.0001</d_gain>
      <cmd_max>50.0</cmd_max>
      <cmd_min>-50.0</cmd_min>
    </plugin>

  </gazebo>

  <gazebo reference='wheel_front_left'>
    <kp  value="10000000.0" />
    <kd  value="10.0" />
    <fdir1 value="1 0 0"/>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <maxContacts>5</maxContacts>
    <!-- <collision>
      <surface>
        <contact>
          <ode>
            <soft_cfm>0.01</soft_cfm>
            <soft_erp>0.8</soft_erp>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision> -->
    <collision>
      <surface>
        <contact>
          <ode>
            <kp>1e+07</kp>
            <kd>1</kd>
          </ode>
        </contact>
        <friction>
          <ode>
            <mu>0.5</mu>
            <mu2>1</mu2>
            <slip1>0.00062</slip1>
            <slip2>0</slip2>
            <fdir1>0 0 1</fdir1>
          </ode>
        </friction>
      </surface>
    </collision> 
  </gazebo>

  <!-- <gazebo reference="steer_rear_left_to_wheel_rear_left">
    <sensor type="force_torque" name="force_torque">
        <update_rate>30.0</update_rate>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <topic>ft_sensor/wrench</topic>
        <force_torque name="ati_axia">
        </force_torque>
        <plugin
          filename="gz-sim-forcetorque-system"
          name="gz::sim::systems::ForceTorque">
        </plugin>
    </sensor>
</gazebo> -->

  <!-- <kp  value="10000000.0" />
    <kd  value="1.0" />
    <fdir1 value="1 0 0"/>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <maxContacts>6</maxContacts> -->

  <gazebo reference='wheel_rear_left'>
    <!-- <kp  value="10000000.0" />
    <kd  value="10.0" /> -->
    <fdir1 value="1 0 0"/>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <maxContacts>5</maxContacts>
    <!-- <collision>
      <surface>
        <contact>
          <ode>
            <soft_cfm>0.01</soft_cfm>
            <soft_erp>0.8</soft_erp>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision> -->
    <collision>
      <surface>
        <contact>
          <ode>
            <kp>1e+07</kp>
            <kd>1</kd>
          </ode>
        </contact>
        <friction>
          <ode>
            <mu>0.5</mu>
            <mu2>1</mu2>
            <slip1>0.00062</slip1>
            <slip2>0</slip2>
            <fdir1>0 0 1</fdir1>
          </ode>
        </friction>
      </surface>
    </collision> 
  </gazebo>

  <gazebo reference='wheel_front_right'>
    <!-- <kp  value="10000000.0" />
    <kd  value="10.0" /> -->
    <fdir1 value="1 0 0"/>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <maxContacts>5</maxContacts>
    <!-- <collision>
      <surface>
        <contact>
          <ode>
            <soft_cfm>0.01</soft_cfm>
            <soft_erp>0.8</soft_erp>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision> -->
    <collision>
      <surface>
        <contact>
          <ode>
            <kp>1e+07</kp>
            <kd>1</kd>
          </ode>
        </contact>
        <friction>
          <ode>
            <mu>0.5</mu>
            <mu2>1</mu2>
            <slip1>0.00062</slip1>
            <slip2>0</slip2>
            <fdir1>0 0 1</fdir1>
          </ode>
        </friction>
      </surface>
    </collision> 
  </gazebo>

  <gazebo reference='wheel_rear_right'>
    <!-- <kp  value="10000000.0" />
    <kd  value="10.0" /> -->
    <fdir1 value="1 0 0"/>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <maxContacts>5</maxContacts>
    <!-- <collision>
      <surface>
        <contact>
          <ode>
            <soft_cfm>0.01</soft_cfm>
            <soft_erp>0.8</soft_erp>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision> -->
    <collision>
      <surface>
        <contact>
          <ode>
            <kp>1e+07</kp>
            <kd>1</kd>
          </ode>
        </contact>
        <friction>
          <ode>
            <mu>0.5</mu>
            <mu2>1</mu2>
            <slip1>0.00062</slip1>
            <slip2>0</slip2>
            <fdir1>0 0 1</fdir1>
          </ode>
        </friction>
      </surface>
    </collision> 
  </gazebo>
    
  <!-- ************************** OAK-D PRO ************************** -->

  <!-- OAK-D PRO Camera -->
  <link name="oakd_pro_camera_center">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 -1.5708" />
      <geometry>
        <mesh filename="package://rover_description/meshes/oak_d_pro_w.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 -1.5708" />
      <geometry>
        <mesh filename="package://rover_description/meshes/oak_d_pro_w.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.09" />
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
  </link>

  <!-- OAK-D PRO Camera Link(may need update) -->
  <joint name="oakd_pro_camera_link" type="fixed">
    <parent link="base_link" />
    <child link="oakd_pro_camera_center" />
    <origin xyz="0.38 0.04 0.10" rpy="0 0 0" />
  </joint>

  <!-- OAK-D PRO optical frame (camera optical axis forward) -->
  <joint name="oakd_pro_camera_optical_joint" type="fixed">
    <parent link="oakd_pro_camera_center" />
    <child link="oakd_pro_camera_optical_frame" />
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" />
  </joint>

  <link name="oakd_pro_camera_optical_frame"/>

  <joint name="oakd_pro_left_camera_joint" type="fixed">
    <parent link="oakd_pro_camera_center"/>
    <child link="oakd_pro_camera_left"/>
    <origin xyz="0 0.375 0" rpy="0 0 0" />
  </joint>

  <link name="oakd_pro_camera_left"/>

  <joint name="oakd_pro_right_camera_joint" type="fixed">
    <parent link="oakd_pro_camera_center"/>
    <child link="oakd_pro_camera_right"/>
    <origin xyz="0 -0.375 0" rpy="0 0 0" />
  </joint>

  <link name="oakd_pro_camera_right"/>

  <gazebo reference="oakd_pro_camera_center">
    <sensor name="oakd_pro_depth" type="depth_camera">
      <always_on>true</always_on>
      <update_rate>20.0</update_rate>
      <visualize>false</visualize>
      <topic>/depth/image_raw</topic>
      <camera name="oakd_pro_depth_camera">
      <camera_info_topic>/depth/camera_info</camera_info_topic>
        <horizontal_fov>1.39626</horizontal_fov> <!-- 80 degrees -->
        <image>
          <width>640</width>
          <height>400</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.8</near>
          <far>12.0</far>
        </clip>
        <depth_camera>
          <near>0.8</near>
          <far>12.0</far>
        </depth_camera>
      </camera>
      <frame_id>oakd_pro_camera_optical_frame</frame_id>
      <gz_frame_id>oakd_pro_camera_optical_frame</gz_frame_id>
    </sensor>

    <!-- OAK-D PRO PointCloud2 -->
    <sensor name="oakd_pro_points" type="depth_camera">
      <always_on>true</always_on>
      <update_rate>20.0</update_rate>
      <visualize>false</visualize>
      <topic>/points</topic>
      <camera name="oakd_pro_points_camera">
        <horizontal_fov>1.39626</horizontal_fov>
        <image>
          <width>640</width>
          <height>400</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.8</near>
          <far>12.0</far>
        </clip>
        <point_cloud>
          <output>true</output>
        </point_cloud>
      </camera>
      <frame_id>oakd_pro_camera_optical_frame</frame_id>
      <gz_frame_id>oakd_pro_camera_optical_frame</gz_frame_id>
    </sensor>

    <!-- OAK-D PRO IMU -->
    <sensor name="oakd_pro_imu" type="imu">
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <visualize>false</visualize>
      <topic>/imu/data</topic>
      <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>
      <frame_id>oakd_pro_camera_center</frame_id>
    </sensor>

    <!-- OAK-D PRO RGB camera -->
    <sensor name="oakd_pro_rgb" type="camera">
      <always_on>true</always_on>
      <update_rate>20.0</update_rate>
      <visualize>false</visualize>
      <topic>/rgb/image_raw</topic>
      <camera name="oakd_pro_rgb_camera">
        <camera_info_topic>/rgb/camera_info</camera_info_topic>
        <horizontal_fov>1.15191</horizontal_fov> <!-- 66 degrees -->
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.8</near>
          <far>12.0</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <frame_id>oakd_pro_camera_center</frame_id>
    </sensor>
  </gazebo>

  <gazebo reference="oakd_pro_camera_left">
    <!-- OAK-D PRO stereo left camera -->
    <sensor name="oakd_pro_stereo_left" type="camera">
      <always_on>true</always_on>
      <update_rate>20.0</update_rate>
      <visualize>false</visualize>
      <topic>/stereo/left/image_raw</topic>
      <camera name="oakd_pro_stereo_left_camera">
        <camera_info_topic>/stereo/left/camera_info</camera_info_topic>
        <horizontal_fov>1.39626</horizontal_fov>
        <image>
          <width>640</width>
          <height>400</height>
          <format>L8</format>
        </image>
        <clip>
          <near>0.8</near>
          <far>12.0</far>
        </clip>
      </camera>
      <frame_id>oakd_pro_camera_left</frame_id>
    </sensor>
  </gazebo>

  <gazebo reference="oakd_pro_camera_right">
    <!-- OAK-D PRO stereo right camera -->
    <sensor name="oakd_pro_stereo_right" type="camera">
      <always_on>true</always_on>
      <update_rate>20.0</update_rate>
      <visualize>false</visualize>
      <topic>/stereo/right/image_raw</topic>
      <camera name="oakd_pro_stereo_right_camera">
        <camera_info_topic>/stereo/right/camera_info</camera_info_topic>
        <horizontal_fov>1.39626</horizontal_fov>
        <image>
          <width>640</width>
          <height>400</height>
          <format>L8</format>
        </image>
        <clip>
          <near>0.8</near>
          <far>12.0</far>
        </clip>
      </camera>
      <frame_id>oakd_pro_camera_right</frame_id>
    </sensor>
  </gazebo>
  
</robot>