<?xml version="1.0" ?>
<robot name="lazik_simple_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find rover_meshes_lookup)/urdf/materials.xacro" />
<xacro:include filename="$(find rover_meshes_lookup)/urdf/lazik_simple_urdf.ros2control" />
<xacro:include filename="$(find rover_meshes_lookup)/urdf/lazik_simple_urdf.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.0002565973605875864 -0.006153080406218198 -0.018359726986079426" rpy="0 0 0"/>
    <mass value="402.8334927971132"/>
    <inertia ixx="48.40805" iyy="27.060197" izz="62.748722" ixy="-0.044577" iyz="0.236232" ixz="-0.01844"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rover_meshes_lookup)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rover_meshes_lookup)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
