<launch>
    
    <arg name="rover_decription" default="rex"/>
    
    <arg name="bridge_name" default="gz_sim_bridge"/>
    <arg name="config_file" default="$(find-pkg-share gazebo_simulation)/config/rex_ros_gz_bridge.yaml"/>
    <arg name="container_name" default="ros_gz_container" />
    <arg name="create_own_container" default="False" />
    <arg name="namespace" default="" />
    <arg name="use_composition" default="False" />
    <arg name="use_respawn" default="False" />
    <arg name="log_level" default="info" />
    <arg name="bridge_params" default="" />
    <arg name="world_sdf_file" default="$(find-pkg-share gazebo_simulation)/worlds/marsyard2020.world" />
    <arg name="world_sdf_string" default="$(find-pkg-share gazebo_simulation)/worlds/marsyard2020.world" />
    <arg name="world" default=""/>
    <arg name="file" default="" />
    <arg name="model_string" default="" />
    <arg name="topic" default="/robot_description" />
    <arg name="entity_name" default="rex" />
    <arg name="allow_renaming" default="True" />
    <arg name="x" default="-2.51" />
    <arg name="y" default="-13.23" />
    <arg name="z" default="1.3" />
    <arg name="roll" default="0.0" />
    <arg name="pitch" default="0.0" />
    <arg name="yaw" default="1.49" />
    <arg name="pause" default="True" />

    <gz_server
        world_sdf_file="$(var world_sdf_file)"
        world_sdf_string="$(var world_sdf_string)"
        container_name="$(var container_name)"
        create_own_container="$(var create_own_container)"
        use_composition="$(var use_composition)">
    </gz_server>
    
    <ros_gz_bridge
        bridge_name="$(var bridge_name)"
        config_file="$(var config_file)"
        container_name="$(var container_name)"
        create_own_container="False"
        namespace="$(var namespace)"
        use_composition="$(var use_composition)"
        use_respawn="$(var use_respawn)"
        log_level="$(var log_level)"
        bridge_params="$(var bridge_params)">
    </ros_gz_bridge>
    
    <gz_spawn_model 
        world="$(var world)"
        file="$(var file)"
        model_string="$(var model_string)"
        topic="$(var topic)"
        entity_name="$(var entity_name)"
        allow_renaming="$(var allow_renaming)"
        x="$(var x)"
        y="$(var y)"
        z="$(var z)"
        roll="$(var roll)"
        pitch="$(var pitch)"
        yaw="$(var yaw)">
    </gz_spawn_model>
    <executable cmd="gz sim -g" />

    <node pkg="robot_state_publisher" exec="robot_state_publisher">
        <param name='robot_description' value="$(command 'cat $(find-pkg-share rover_description)/urdf/rex.urdf')"/>
        <param name='use_sim_time' value='true'/>
    </node>

    <!-- <arg name='robot_description' value="$(command 'xacro $(find-pkg-share robot_state_publisher)/urdf/test-desc.urdf.xacro')"/> -->

</launch>
