<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rover_description)/urdf/macros/base/inertial.xacro"/>

  <!-- Main body -->
  <xacro:macro name="base_link">
    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.7 0.44 0.176"/>
        </geometry>
        <material name="base_link-material">
          <color rgba="1 0.36625259558833256 0.06480326668529614 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.7 0.44 0.176"/>
        </geometry>
      </collision>
      <xacro:inertial_box mass="15" x="0.7" y="0.44" z="0.176">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_box>
    </link>

    <gazebo reference="base_link">
      <selfCollide>true</selfCollide>
    </gazebo>
  </xacro:macro>

</robot>