<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Main body -->
  <xacro:macro name="base_link">
    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.7 0.44 0.176"/>
        </geometry>
        <material name="base_link-material">
          <color rgba="1 0.36625259558833256 0.06480326668529614 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.7 0.44 0.176"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="15"/>
        <inertia ixx="0.28072" ixy="0" ixz="0"
                              iyy="0.65122" iyz="0"
                                            izz="0.8545"/>
      </inertial>
    </link>
  </xacro:macro>

</robot>