<?xml version="1.0"?>
<robot name="oakd_pro_test" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Prosty bazowy link do testów modułu OAK-D Pro W -->
  <link name="base_link"/>

  <!-- Dołączenie modułu OAK-D Pro W -->
  <xacro:include filename="oakd_pro.xacro"/>

  <!-- Instancja modułu OAK-D Pro W zaczepiona do base_link -->
  <xacro:oakd_pro_module parent_link="base_link"/>
</robot>
