<?xml version="1.0"?>
<robot name="oakd_test" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Prosty bazowy link do testów modułu OAK-D -->
  <link name="base_link"/>

  <!-- Dołączenie modułu OAK-D -->
  <xacro:include filename="oakd.xacro"/>

  <!-- Instancja modułu OAK-D zaczepiona do base_link -->
  <xacro:oakd_module parent_link="base_link"/>
</robot>
