<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rover_description)/urdf/macros/base/inertial.xacro"/>

  <!-- Single wheel -->
  <xacro:macro name="wheel_assembly" params="name parent x">

    <!-- Steering revolute joint (Z axis) -->
    <joint name="${parent}_to_steer_${name}" type="revolute">
      <parent link="${parent}"/>
      <child link="steer_${name}"/>
      <origin xyz="${x} 0 -0.05" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit effort="10.0" lower="-3.14159265" upper="3.14159265" velocity="0.76"/>
    </joint>

    <!-- Steering shaft -->
    <link name="steer_${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.025" length="0.05"/>
        </geometry>
        <material name="steer_${name}-material">
          <color rgba="0.323 0.319 0.305 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.025" length="0.05"/>
        </geometry>
      </collision>
      <xacro:inertial_cylinder mass="0.001" length="0.05" radius="0.025">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_cylinder>
    </link>

    <!-- Drive joint -->
    <joint name="steer_${name}_to_wheel_${name}" type="continuous">
      <parent link="steer_${name}"/>
      <child link="wheel_${name}"/>
      <origin xyz="0 0 -0.155" rpy="-1.5707963267948963 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- Wheel -->
    <link name="wheel_${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.125" length="0.13"/>
        </geometry>
        <material name="wheel_${name}-material">
          <color rgba="0.791 0.120 0 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.125" length="0.13"/>
        </geometry>
      </collision>
      <xacro:inertial_cylinder mass="3" length="0.13" radius="0.125">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_cylinder>
    </link>

    <!-- Wheel ground contact properties -->
    <gazebo reference="wheel_${name}">
      <surface>
        <friction>
          <ode>
            <mu>1.5</mu>
            <mu2>1.5</mu2>
            <slip1>0.00062</slip1>
            <slip2>0.0</slip2>
          </ode>
          <bullet>
            <friction>1.5</friction>
            <friction2>1.5</friction2>
          </bullet>
        </friction>
        <contact>
          <ode>
            <max_contacts>10</max_contacts>
          </ode>
          <bullet>
            <soft_cfm>0.001</soft_cfm>
            <soft_erp>0.2</soft_erp>
          </bullet>
        </contact>
      </surface>
    </gazebo>

  </xacro:macro>


  <xacro:macro name="swivel_and_arm" params="side base_y arm_y">

    <!-- Differential rocker joint -->
    <joint name="base_link_to_swivel_${side}" type="revolute">
      <parent link="base_link"/>
      <child link="swivel_${side}"/>
      <origin xyz="0 ${base_y} 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="1000.0" lower="-1.15" upper="1.15" velocity="0.6"/>
      <dynamics friction="1.0" damping="0.1"/>
    </joint>

    <gazebo reference="swivel_${side}">
      <selfCollide>true</selfCollide>
    </gazebo>

    <!-- Swivel pin -->
    <link name="swivel_${side}">
      <visual>
        <origin xyz="0 0 0" rpy="1.5707963267948963 0 0"/>
        <geometry>
          <cylinder radius="0.01" length="0.107"/>
        </geometry>
        <material name="swivel_${side}-material">
          <color rgba="0.323 0.319 0.305 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="1.5707963267948963 0 0"/>
        <geometry>
          <cylinder radius="0.01" length="0.107"/>
        </geometry>
      </collision>
      <xacro:inertial_cylinder mass="0.001" length="0.107" radius="0.01">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_cylinder>
    </link>

    <!-- Fixed connection: swivel to center -->
    <joint name="swivel_${side}_to_arm_pivot_${side}" type="fixed">
      <parent link="swivel_${side}"/>
      <child link="arm_pivot_${side}"/>
      <origin xyz="0 ${arm_y} 0" rpy="0 0 0"/>
    </joint>

    <!-- center box -->
    <link name="arm_pivot_${side}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.10 0.07 0.06"/>
        </geometry>
        <material name="arm_pivot_${side}-material">
          <color rgba="0.9 0.4 0.1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.10 0.07 0.06"/>
        </geometry>
      </collision>
      <xacro:inertial_box mass="0.3" x="0.10" y="0.07" z="0.06">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_box>
    </link>

    <gazebo reference="arm_pivot_${side}">
      <selfCollide>true</selfCollide>
    </gazebo>

    <!-- Front arm half -->
    <joint name="arm_pivot_${side}_to_arm_front_${side}" type="revolute">
      <parent link="arm_pivot_${side}"/>
      <child link="arm_front_${side}"/>
      <origin xyz="0.05 0 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="500.0" lower="-0.7" upper="0.7" velocity="0.6"/>
      <dynamics friction="0.3" damping="0.05"/>
    </joint>

    <!-- Front arm beam -->
    <link name="arm_front_${side}">
      <visual>
        <origin xyz="0.225 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.45 0.04 0.04"/>
        </geometry>
        <material name="arm_front_${side}-material">
          <color rgba="0.323 0.319 0.305 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.225 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.45 0.04 0.04"/>
        </geometry>
      </collision>
      <xacro:inertial_box mass="0.4" x="0.45" y="0.04" z="0.04">
        <origin xyz="0.225 0 0" rpy="0 0 0"/>
      </xacro:inertial_box>
    </link>

    <gazebo reference="arm_front_${side}">
      <selfCollide>true</selfCollide>
    </gazebo>

    <!-- Rear arm half -->
    <joint name="arm_pivot_${side}_to_arm_rear_${side}" type="revolute">
      <parent link="arm_pivot_${side}"/>
      <child link="arm_rear_${side}"/>
      <origin xyz="-0.05 0 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="500.0" lower="-0.7" upper="0.7" velocity="0.6"/>
      <dynamics friction="0.3" damping="0.05"/>
    </joint>

    <!-- Rear arm beam -->
    <link name="arm_rear_${side}">
      <visual>
        <origin xyz="-0.225 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.45 0.04 0.04"/>
        </geometry>
        <material name="arm_rear_${side}-material">
          <color rgba="0.323 0.319 0.305 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.225 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.45 0.04 0.04"/>
        </geometry>
      </collision>
      <xacro:inertial_box mass="0.4" x="0.45" y="0.04" z="0.04">
        <origin xyz="-0.225 0 0" rpy="0 0 0"/>
      </xacro:inertial_box>
    </link>

    <gazebo reference="arm_rear_${side}">
      <selfCollide>true</selfCollide>
    </gazebo>

    <!-- Wheels -->
    <xacro:wheel_assembly name="front_${side}" parent="arm_front_${side}" x="0.40"/>
    <xacro:wheel_assembly name="rear_${side}"  parent="arm_rear_${side}"  x="-0.40"/>

  </xacro:macro>

</robot>